.anchor-pane {
    -fx-background-color: #98513d;
}

.label {
    -fx-font-family: fantasy;
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.sub-title {
    -fx-font-size: 22px;
    -fx-alignment: center;
}

.small {
    -fx-font-size: 12px;
}

.clickable {
    -fx-underline: true;
}

.label-white{
    -fx-text-fill: white;
}

.label-white-bg{
    -fx-background-color: white;
}

.skills-grid > * {
    -fx-min-height: 30px;
}
